**/*.o
**/*.a
**/*.pyc
**/*.aux
**/*.log
**/*.bbl
**/*.blg
**/*.toc
**/*.pdf
**/__schemo_*
**/__pycache__/
**/include/*
**/lib/*
**/build/*
FBCP/command_lists/*
flipperbot/board/log/*
!flipperbot/board/audio/
flipperbot/board/log/audio/*
