**/*.o
**/*.a
**/*.pyc
**/*.aux
**/*.log
**/*.bbl
**/*.blg
**/*.toc
**/*.dvi
**/*.pdf
!ELABORATO DRAFT/images/esper_silouette.pdf
**/__schemo_*
**/__pycache__/
**/include/*
!ELABORATO\ DRAFT/include/*
**/lib/*
**/build/*
FBCP/command_lists/*
flipperbot/board/logs/*
!flipperbot/board/logs/audio/
flipperbot/board/logs/audio/*
