\documentclass{standalone}
\usepackage{tikz}
\usepackage{pgfplots}
\pgfplotsset{compat=1.12}
\usetikzlibrary{shapes}
\usetikzlibrary{arrows.meta}
\begin{document}
\begin{tabular}{l}
%s
\end{tabular}
\end{document}

